body {
  margin-top: 6rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  background: #fffcf4;
}

.avatar {
  width: 150px;
  border-radius: 2px;
}

.title,
.vocation,
.location {
  margin: 0;
  line-height: 2;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #d0d0c5;
  color: #2b2839;
  border-bottom: 6px solid #a5a58d;
  box-shadow: 1px 1px 5px #222;
  transition: 0.5s ease-in-out;
}

.card:hover {
  background: #a5a58d;
  color: #fffcf4;
  transform: scale(1.1);
  border-bottom: 6px solid #d0d0c5;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    width: 300px;
  }
}
