body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 4px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a8dadc;
    color: #1d3557;
    line-height: 0.85;
    border-bottom: 4px inset #457b9d;
    border-left: 4px inset #457b9d;
    filter: drop-shadow(2px 0 0.25rem rgba(29, 53, 87, 0.5));    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

/*
.card:nth-child(1) {
    line-height: 0.85;
}
*/

.card:hover {
    background: rgba(168, 218, 220, 0.5);
    transition: background-color 0.3s;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

